ParseSync/ParseSyncExample/ParseSyncExample.xcodeproj/xcuserdata/ahmedalmoraly.xcuserdatad/xcschemes/ParseSyncExample.xcscheme
ParseSync/ParseSyncExample/ParseSyncExample.xcodeproj/xcuserdata/ahmedalmoraly.xcuserdatad/xcschemes/xcschememanagement.plist
ParseSync/ParseSync.xcodeproj/project.xcworkspace/xcshareddata/ParseSync.xccheckout
ParseSync/ParseSync.xcodeproj/project.xcworkspace/xcuserdata/ahmedalmoraly.xcuserdatad/UserInterfaceState.xcuserstate
ParseSync/ParseSync.xcodeproj/xcuserdata/ahmedalmoraly.xcuserdatad/xcschemes/ParseSync.xcscheme
ParseSync/ParseSync.xcodeproj/xcuserdata/ahmedalmoraly.xcuserdatad/xcschemes/xcschememanagement.plist
ParseSync.xcworkspace/xcuserdata/ahmedalmoraly.xcuserdatad/UserInterfaceState.xcuserstate
ParseSync.xcworkspace/xcuserdata/ahmedalmoraly.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
